*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# Specific
haskell/.stack-work/
build/
.DS_Store

# Python
*.pyc
python/Pipfile.lock
python/dist/
python/karps.egg-info/
python/karps/*.pyc
python/karps/__pycache__/
python/karps/functions_std/__pycache__/
python/karps/proto/*.pyc
python/karps/proto/__pycache__/
python/notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# Paper
doc/paper/scratch.pdf
doc/paper/test.pdf
doc/paper/test.html

# eta
eta/dist
lib/karps-eta.jar
